*,
*::before,
*::after {
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  color: white;
  background: #1d2227;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.mainBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
  margin-bottom: 5rem;
  width: 80%;
}

.closeSection {
  display: flex;
  align-self: end;
  top: 7rem;
}

  .closeSection img {
    width: 2rem;
    height: 2rem;
  }

@media (max-width: 1024px) {
  .mainBody {
    margin-top: 2rem;
  }

  .closeSection {
    top: 0;
  }
}

/* TODO: 
  - make mobil responsive correct 
  - make README.me
  - test everything
  - check all documentation
  - make repo public and sent porject to e-sites
*/